<a href="https://colab.research.google.com/github/maushamkumar/Think-Stats/blob/main/Case_Study_Goodness_of_Fit_Test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

df = pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Count passengers in each class
class_counts = df['Pclass'].value_counts().sort_index()
class_counts

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

The above code give our observed data and our expected data is 297

In [21]:
# calcaulate the expected counts assuming a uniform distribution
total_passangers = len(df)
expected_counts = total_passangers/3
expected = [expected_counts]*3
print("Expected passenger counts (assuming uniform distribution): \n", expected)

Expected passenger counts (assuming uniform distribution):
 [297.0, 297.0, 297.0]

In [23]:
# Perform the chi-square Goodness of fit test
import scipy.stats as stats
chi2, p_value = stats.chisquare(class_counts, expected)

# print the results
print("\nChi-square Statistic: {:.2f}".format(chi2))
print("p_value: {:.4f}".format(p_value))

Chi-square Statistic: 191.80
p_value: 0.0000

In [24]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
  print("\nWe reject the null hypothesis. The distribution of passengers among the classes is not uniform.")
else:
  print("\nWe fail to reject the null hypothesis. The distribution of passengers among the classes is uniform. ")

We reject the null hypothesis. The distribution of passengers among the classes is not uniform.