In [1]:
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset("mpg")

In [8]:
df.shape

(398, 9)

In [9]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [51]:
random_sample = df.sample(10)

In [52]:
random_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
218,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham

In [53]:
np.arange(0,len(df),step = 20)

array([  0,  20,  40,  60,  80, 100, 120, 140, 160, 180, 200, 220, 240,
       260, 280, 300, 320, 340, 360, 380])

In [55]:
df.iloc[np.arange(0,len(df),step = 30)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt

In [56]:
df["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [59]:
df.groupby("origin",group_keys=False).apply(lambda x: x.sample(3))

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
293,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador

In [60]:
df["origin"].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [62]:
prop_stratified_sampling = df.groupby("origin",group_keys=False).apply(lambda x: x.sample(frac=0.25))

In [63]:
prop_stratified_sampling["origin"].value_counts()

usa       62
japan     20
europe    18
Name: origin, dtype: int64

In [69]:
clusters = np.random.choice(df["model_year"], size=2, replace = False)

In [70]:
clusters

array([75, 79], dtype=int64)

In [72]:
cluster_sample = df[df["model_year"].isin(clusters)]

In [73]:
cluster_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
172,25.0,4,90.0,71.0,2223,16.5,75,europe,volkswagen dasher
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
175,29.0,4,90.0,70.0,1937,14.0,75,europe,volkswagen rabbit
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
181,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
293,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
294,34.1,4,86.0,65.0,1975,15.2,79,japan,maxda glc deluxe
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
298,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
303,31.8,4,85.0,65.0,2020,19.2,79,japan,datsun 210
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix