In [2]:
import pandas as pd
import statistics
import seaborn as sns

In [3]:
data1 = [45,42,42,41,40]
data2 =[54,48,42,33,33]

In [4]:
statistics.mean(data1)

42

In [5]:
statistics.mean(data2)

42

In [6]:
statistics.variance(data1)

3.5

In [7]:
statistics.pstdev(data1)

1.6733200530681511

In [8]:
df = sns.load_dataset("mpg")

In [9]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [10]:
data =  [1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8]

In [11]:
8-1

7

In [12]:
statistics.mean(data)

4.769230769230769

In [13]:
statistics.pstdev(data)

2.0438969623979113

In [14]:
df["mpg"].max()-df["mpg"].min()

37.6

In [15]:
df["weight"].max()-df["weight"].min()

3527

In [16]:
statistics.variance(df["mpg"])

61.0896107742744

In [17]:
statistics.pstdev(df["mpg"])

7.806159061274432

In [18]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [19]:
statistics.pstdev(df["mpg"])/statistics.mean(df["mpg"])

0.3319711187745463

In [20]:
statistics.pstdev(df["weight"])/statistics.mean(df["weight"])

0.2847327708429478

In [22]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [25]:
statistics.pstdev(data1)/statistics.mean(data1)

0.03984095364447979

In [26]:
statistics.pstdev(data2)/statistics.mean(data2)

0.19691498217271744